// MEDIA

@media(min-width: 0px) and (max-width: 320px){
  
}

@media(min-width: 321px) and (max-width: 480px){

}

@media(min-width: 481px) and (max-width: 768px){
  
}

@media(min-width: 769px) and (max-width: 992px){

}

@media(min-width: 993px) and (max-width: 1200px){

}

@media(max-width: 767px){
	.contact-wrap, .collections-wrap{
		display: none;
	}
	.sidebar{
		width: 100%;
		height: auto;
		float: none;
		position: fixed;
		z-index: 20;
	}
	#main{
		width: 100%;
		margin-top: 130px;
		margin-left: 0;
	}
	.navbar{
		padding: 15px;
		height: 130px;
	}
	.logo{
		width: 50%;
		img{
			width: 100%;
			height: auto;
		}
	}
	#header{
		display: none;
	}
	footer{
		position: unset;
		height: 75px;
		background-color: @blue;
		.footer-menu{
			display: none;
		}
	}
	footer .bottom{
		padding-top: 15px;
	}
	footer .bottom > a{
		display: inline-block;
		margin-right: 15px;
	}
	footer .bottom ul{
		margin-top: 10px;
		margin-bottom: 0;
	}
	.main-content{
		margin-left: 0;
		width: 100%;
	}
	section{
		width: 100%!important;
		height: auto!important;
	}
	.carousel-inner{
		overflow: unset;
	}
	.carousel .carousel-inner .item{
		height: auto;
		img{
			height: 320px;
		}
	}
	.carousel .carousel-inner .item .carousel-caption{
		padding: 15px;
		bottom: auto;
		top: 320px;
		p{
			color: @blue;
			width: 100%;
			font-size: 14px;
			font-weight: 400;
		}
		background-image: none;
	}
	.carousel-control{
		width: 35px;
		height: 40px;
		line-height: 40px;
		bottom: 10px;
		img{
			height: 20px;
			width: auto;
		}
	}
	.carousel-control.right{
		right: 15px;
		left: auto;
	}
	.carousel-control.left{
		left: 15px;
		right: auto;
	}
	.carousel-indicators{
		left: 0;
		right: 0;
		bottom: 25px;
		width: 180px;
		margin: 0 auto;
		li{
			width: 30px;
		}
		.active{
			width: 30px;
			margin-left: 4px;
		}
	}
	#configurator{
		margin-top: 150px;
		padding-right: 0;
	}
	.model-wrap{
		height: auto;
		padding: 15px;
	}
	.tabs-year{
		padding-left: 15px;
	}
	.tab-ral{
    overflow-x: scroll;
    width: 100%;
    padding-left: 15px;
		li{
	    display: table-cell;
		}
	}
	.tab-models{
		display: none;
	}
	.model-wrap{
		border-left: none;
	}
	.model-wrap .bottom{
		display: none;
	}
	.model-wrap .img-wrap{
		width: 100%;
		height: auto;
		float: none;
		padding: 15px 0;
	}
	.model-wrap .info{
		margin-left: 0;
		margin-top: 0;
		text-align: center;
		border-bottom: none;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.model-wrap .info .title{
		font-size: 24px;
	}
	.model-wrap .info .price-wrap .price{
		width: 40%;
		height: 40px;
		font-size: 16px;
		span{
			font-size: 12px;
		}
	}
	.model-wrap .info .price-wrap .note{
		width: 50%;
		padding: 0;
		&:after{
			display: none;
		}
	}
	section h2{
		background-color: #8abbc4;
		color: white;
		font-size: 14px!important;
		font-weight: 400;
		padding: 15px;
		text-transform: uppercase;
		margin: 0!important;
	}
	#video .video-wrap{
		width: 100%;
		height: 210px;
	}
	.video .overlay{
		height: 210px;
		top: 45px;
	}
	.video .overlay #videoPlay{
		width: 100px;
		height: 100px;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.video .overlay .video-panel{
		display: none;
	}
	#frames{
		padding: 0;
		height: auto;
		border-left: none;
		.img-responsive{
			width: 100%;
		}
	}
	#frames .content{
		width: 100%;
	}
	.frames .content .frame1{
		background: none;
		width: 100%;
		height: auto;
		padding: 15px;
		h3{
			font-weight: 700;
			font-size: 16px;
		}
		p{
			font-size: 14px;
			margin-top: 5px;
			width: 100%;
		}
	}
	.frames .content .frame2{
		width: 100%;
		height: auto;
		padding: 15px;
		h3{
			font-weight: 700;
			font-size: 16px;
		}
		p{
			font-size: 14px;
			margin-top: 5px;
			width: 100%;
		}
	}
	.frames .content .frame3{
		margin: 0 15px;
	}
	.frames .content .frame4{
		margin: 15px;
		height: 240px;
		background-position: top;
		padding: 15px 25px;
	}
	#advantages{
		padding: 0;
		border-left: none;
		position: relative;
		.true-price{
			position: absolute;
			bottom: 15px;
			top: auto;
			left: 15px;
			right: 15px	;
			width: 100%;
			height: 165px;
			margin-bottom: -165px;
		}
		.content{
			padding: 15px;
			&>div{
				display: block!important;
				width: 100%!important;
				height: auto;
				background-size: cover;
				float: none;
				margin-left: 0;
			}
		}
	}
	.category-content{
		height: auto;
		overflow: auto;
		.collection-item{
			float: none;
			width: 100%!important;
			height: 75vh;
			img{
				height: 100%;
				object-fit: cover;
			}
			.overlay{
				width: 100%!important;
			}
			span{
				font-size: 36px!important;
				left: 0!important;
				right: 0!important;
				top: 0!important;
				bottom: 0!important;
				text-align: center!important;
				line-height: 75vh!important;
				vertical-align: middle!important;
			}
			&.luca{
				h1{
			    font-size: 18px;
				}
			}
		}
	}
}
